.statusBox.alert[data-state]
{
    background: repeating-linear-gradient(
        45deg,
        #000,
        #000 10px,
        transparent 10px,
        transparent 20px
    );
}

.statusBox.alert[data-state = "ontime"]
{
    background: #00aa00;
}

.statusBox.alert[data-state = "late"]
{
    background: yellow;
}

.statusBox.alert[data-state = "early"]
{
    background: cyan;
}
.statusBox.alert[data-state = "cancelled"]
{
    background-color: red;
}

.statusBox.alert[data-state = "departed"]
{
    display: none;
    /*background-color: purple;*/
}